@model IEnumerable<DookkiWebApp.Models.DatBan>

@{
    ViewBag.Title = "Lịch sử hoạt động";
}

<h3 class="text-center t-bold">Lịch sử hoạt động</h3>

<section id="activity_his">
    @*<div class="container">
        <h5 class="t-bold">Lịch sử đặt bàn:</h5>
    </div>*@

    <div class="list-group">
        @foreach (var actiHis in Model)
        {
            <div class="list-group-item">
                <a href="@Url.Action("DetailBooking", "Account", new { madb = actiHis.MaDatBan })">
                    <div class="noti_point_left">
                        <div class="noti_point t-bold">
                            @actiHis.ChiNhanh.TenCN
                        </div>
                        <div class="time_get">Thời gian: @String.Format("{0:H:mm - dd/MM/yyyy}", actiHis.ThoiGian)</div>
                        <div style="color: #00D208; font-weight: bold; font-size: 75%;">Thành công</div>
                    </div>
                    <div class="noti_point_right">
                        #28031
                    </div>
                </a>
            </div>
        }
    </div>
</section>

